* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*These are some basic variables for color scheme*/

:root {
    --text-colormain: #3474eb;
    --text-colormixed: #191b24;
    --text-colordark: #121212;
    --text-colorblack: #000;
    --text-colorwhite: #fff;
}

body {
    background: linear-gradient(300deg,#000000,#121212,#191b24);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/*This is the Header*/

.bottom_logo {
    width: 85px;
    height: 85px;
}
li, a, button{
    color: var(--text-colormain);
    text-decoration: none;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(1px);
    align-items: center;
    padding: 0 3%;
    height: 100px;
    width: 100%;
    z-index: 1;
    background: transparent;
    position: fixed;
    top: 0;
    transition: all ease 0.5s;
}


.nav_items{
    list-style: none;
}

.nav_items li{
    display: inline-block;
    padding: 0px 30px;
}

.nav_items li a:hover{
    color: var(--text-colorwhite);
}

.socials li{
    display: inline-block;
    padding: 0px 20px;
}

.socials li img{
    width: 25px;
    height: 25px;
    filter: invert(40%) sepia(63%) saturate(1016%) hue-rotate(189deg) brightness(93%) contrast(98%);    transition: all ease 0.3s;
}

.socials li img:hover{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(331deg) brightness(103%) contrast(100%);
    transition: all ease 0.3s;
}

/*This is for the Insperational Message*/

.name_section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
}

.name_container {
    width: 100%;
    justify-content: center;
}

#name {
    width: 100%;
    height: auto;
    font-size: 65px;
    transition: ease-in .2s;
}

.name_description {
    position: relative;
    height: auto;
    width: 400px;
}

#description_main {
    position: absolute;
    color: var(--text-colorwhite);
    transition: ease-in .8s;
    width: 400px;
    z-index: 4;
}

#description_follow_1{
    position: absolute;
    color: var(--text-colormain);
    transition: ease-in .82s;
    width: 400px;
    z-index: 3;
}

#description_follow_2{
    position: absolute;
    color: var(--text-colormain);
    transition: ease-in .83s;
    width: 400px;
    z-index: 2;
}

/*Phone sizing Adjustments*/

@media only screen and (max-width: 600px) {

    /*Header*/

    .header_logo {
        width: 70px;
        height: 70px;
        margin-top: 4vh;
        border-radius: 50px;
    }
    
    .bottom_logo {
        width: 45px;
        height: 45px;
    }
    li, a, button{
        font-size: 10px;
    }

    header {
        padding: 0 1%;
        height: 60px;
    }
    
    .nav_items li{
        padding: 0px 15px;
    }
    
    .socials li{
        padding: 0px 10px;
    }
    
    .socials li img{
        width: 15px;
        height: 15px;
    }

    /*Insperation Section*/

    .insperational_section {
        height: 540px;
    }
    
    #insperational_message {
        font-size: 15px;
    }

}

/*Transition for hidden text*/

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(300px);
    width: 100%
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
    width: 100%
}

.desc_hidden{
    opacity: .5;
    filter: blur(5px);
    transform: translateY(300px);
    width: 100%
}

.desc_show{
    opacity: 0;
    transform: translateY(0);
    width: 100%
}

.name_start{
    color: var(--text-colorwhite);
}

.name_progress{
    background: -webkit-linear-gradient(270deg,#fff,#3474eb);
    background-size: 800px 800px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: whoosh; 
    animation-duration: 800ms;
    animation-timing-function: linear;
    color: var(--text-colormain);
 
}

.name_finish{
    animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes whoosh  {
    
    0% { background-position-y: 0 }
    100% {
          background-position-y: 100% }
}

/*This is the about me section*/

.about_me_section {
    margin-top: -5px;
    background-color: var(--text-colormixed);
    display: flex;
    width: 100%;
    height: 100vh;
}

.about_me_image{
    width: 50%;
}

.about_me_image img{
    margin-left: 150px;
    width: 350px;
    height: 500px;
}

.about_me_description{
    width: 50%;
}

.description_header{
    font-size: 65px;
    transition: ease-in .2s;
}

.description_desc{
    font-size: 20px;
    transition: ease-in .2s;
}

/*This is the project section*/

.project_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_header_name{
    color: var(--text-colormain);
}

.project_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}

.project_box{
    width: 350px;
    padding: 10px;
    background-color: var(--text-colormixed);
    border: 1px solid var(--text-colordark);
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    transition: ease-in .2s;
}

.project_box:hover {
    opacity: .8;
    width: 365px;
    background-color: darkgrey;
}

.project_image{
    width: 100%;
    height: auto;
}

.project_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project_text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.project_text span{
    padding-bottom: 50px;
    color: white;
}

.project_text a{
}